header {
  z-index: $z-index-header;

  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  box-shadow: $shadow-1;

  nav {
    height: $header-height;

    padding-left: $gap;

    display: flex;
    flex-direction: row;
    align-items: center;

    a, a:active {
      text-decoration: none;
    }

    a {
      color: $primary-text-color-80;

      margin-right: $double-gap;

      border-top: $quarter-gap solid transparent;
      border-bottom: $quarter-gap solid transparent;

      position: relative;

      &:not(:last-child)::after {
        content: "\2502";

        color: $primary-text-color-80;

        position: absolute;
        right: $double-gap * -0.8;
      }

      &:active {
        color: $primary-text-color;
      }

      &.is-active {
        color: $primary-text-color;

        border-bottom-color: $accent-color;
      }
    }

    .badge {
      display: inline-block;

      font-size: 0.8em;
      height: $base-font-size;

      background: $primary-text-color-80;
      color: $primary-color;

      border-radius: 4px;
      padding: 0 $quarter-gap;
    }
  }
}
