.search-form {
  display: flex;
  justify-content: center;

  margin-top: $gap;
  margin-bottom: $double-gap;

  input[type='search'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type='submit'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
