$spinner-size: 3rem;

.spinner {
  width: $spinner-size;
  height: $spinner-size;

  margin: $double-gap auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::after {
  content: "";

  box-sizing: border-box;

  width: 100%;
  height: 100%;

  border: ($spinner-size * 0.1) solid #fff;
  border-radius: 50%;
  border-color: $accent-color transparent $accent-color transparent;

  animation: spinner-animation 1.2s linear infinite;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

