* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: $body-background;
  color: $body-text-color;

  margin: 0;
}

dt {
  color: $body-text-color-70;

  &::after {
    content: ':';
  }
}

h1 {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid $divider-color;
}

input {
  height: $input-height;
  font-size: $base-font-size;

  border-radius: $border-radius;
  border: 1px solid $divider-color;
  padding-left: $gap;
  padding-right: $gap;
}

input[type='submit'] {
  background: $primary-color;
  color: $primary-text-color;

  border-color: $primary-color;
  border-radius: $border-radius;

  &:active {
    background: $primary-color-light;
  }
}

a.no-decoration {
  text-decoration: none;
  color: $body-text-color;
  outline: none;

  &:active,
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: $body-text-color;
  }
}

.card {
  margin: $gap 0;
  padding: $gap;

  border-radius: $border-radius;

  background: $card-background;

  box-shadow: $shadow-1;

	& > .card-header {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.card-hover {
	&:hover {
		box-shadow: $shadow-2;
	}

	transition: box-shadow 0.5s ease-out;
}

.error-message {
  background: $danger-color;
  color: $primary-text-color;
}

.main {
  padding-top: $header-height;
}

.page {
  padding: $double-gap;
  max-width: 450px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $body-text-color-70;
}

