$base-font-size: 16px;

// border
$border-radius: 3px;

// colors
$body-background: #fcfcfc;
$body-text-color: #212121;
$body-text-color-70: rgba($body-text-color, 0.7);

$primary-color: #3f51b5;
$primary-color-light: lighten($primary-color, 10%);
$primary-text-color: #fff;
$primary-text-color-80: rgba($primary-text-color, 0.8);

$accent-color: #ffc107;

$danger-color: #d32f2f;
$danger-text-color: #ddd;

$divider-color: #bdbdbd;

$card-background: #fff;

// shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// spacing
$header-height: 3rem;

$gap: 0.5rem;
$double-gap: $gap * 2;
$half-gap: $gap / 2;
$quarter-gap: $gap / 4;

$input-height: 2rem;

// z-index
$z-index-header: 5;
